/* Diseño para el texto del sidebar */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    transition: var(--trans-3s);
    white-space: nowrap;
    opacity: 1;
}
/* Ocultar el texto al cerrar el sidebar */
.sidebar.close .text {
    opacity: 0;
}
/* Diseño de la imagen del sidebar */
.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* Diseño para el sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-5s);
    z-index: 100;
}
/* Tamaño al cerrarlo el sidebar */
.sidebar.close {
    width: 88px;
}

/* 
    Diseño de las secciones del sidebar
    basados en listas (li)
*/

/* Diseño general de las secciones del sidebar */
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
/* Diseño de los iconos de las secciones del sidebar */
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
/* Color y tiempo de transición para las secciones del sidebar */
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--trans-2s);
}
/* Posicion para el header del sidebar */
.sidebar header {
    position: relative;
}
/* Diseño de la imagen logo del sidebar */
.sidebar .logo-text img{
    width: 50px;
    border-radius: 7px;
    color: var(--primary-color);
    font-size: 35px;
    text-decoration: none; 
    font-weight: 700;  
}
/* Alineación del logo en el header del sidebar */
.sidebar header .logo-text {
    display: flex;
    align-items: center;
}
/* Diseño del texto logo del header del sidebar */
.sidebar .logo-text .header-text {
    display: flex;   
    flex-direction: column;   
    color: var(--text-color); 
}
/* Tamaño del texto logo del sidebar */
.header-text .name {
    font-weight: 600;
}
/* Alineación del texto profesión del header sidebar */
.header-text .profession {
    margin-top: -2px;
}
/* Diseño para el botón del sidebar */
.sidebar header .altern {
    position: absolute;
    top: 25%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color-light);
    font-size: 22px;
    transition: var(--trans-3s);
    cursor: pointer;
}
/* Alienación del botón al cerrar el sidebar */
.sidebar.close header .altern {
    transform: translateY(-10%);
}
/* Rotación del botón al abrir el sidebar */
.sidebar header .altern {
    transform: rotate(180deg);
    color: var(--primary-color-light);
}
/* Alternar el color del botón del sidebar */
body.dark .sidebar header .altern {
    color: var(--text-color);
}
/* Distancia del menu del sidebar del header */
.sidebar .menu {
    margin-top: 35px;
}

/* Diseño de las referencias de las secciones del sidebar */
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--trans-3s);
}
/* Diseño del hover de las referencias de las secciones del sidebar */
.sidebar li a:hover {
    background: var(--sidebar-hover-color); 
    border-radius: 7px;
}
/* Color del hover de los iconos y textos de las secciones del sidebar */
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--text-color);
}
/*  Color del hover de los iconos y textos 
    de las secciones del sidebar en el dark mode 
*/
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 60px); /* Altura del switch mode */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar .mode {
    position: relative;
    background: var(--sidebar-hover-color);
    border-radius: 6px;    
}
.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-3s);
}
.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}
body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;  
    cursor: pointer; 
    border-radius: 6px;
    transition: var(--trans-5s);
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--altern-color);
}
.switch::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: var(--primary-color-light);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);    
    transition: var(--trans-3s);
}
body.dark .switch::before {
    left: 24px;
}

.contact, .contact a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}
/* Sidebar fin */