.labor {
    min-height: 100vh;
    top: 0;
    left: 0;
    text-align: justify;
}
.labor .exp-container {
    position: absolute;
    left: 20%;    
    width: 70%;
    padding-top: 60px;
    color: var(--text-color);
}
.exp-container .title {
    max-width: 1fr;
    color: var(--text-color);
}
.exp-container .title h3 {
    position: relative;
    margin-left: 12%;
    font-size: 70px;
    font-weight: 600;    
}
.exp-container .line {
    position: relative;
    width: 100%;
    height: 2px;
    left: 10px;
    background: #51B872;
}
.exp-container .info-container {
    width: 1fr;
    margin-top: 3%;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {    
    padding: 10px;
}

th {
    font-size: 20px;
    border: 1px solid #6ab883;
    background-color: #a5d0ae;
}

td {
    border: 1px solid #bbb;
}

tr:nth-child(odd) {
    background-color: white;
}

.table a {
    text-decoration: none;
    color: #222;
    cursor: default;
}

.span {
    font-style: italic;
    color: #000000c5;
    font-size: 15px;
}
