.labor {
    min-height: 100vh;
    top: 0;
    left: 0;
    text-align: justify;
}
.labor .exp-container {
    position: absolute;
    left: 20%;    
    width: 70%;
    padding-top: 60px;
    color: var(--text-color);
}
.exp-container .title {
    max-width: 75%;
    color: var(--text-color);
}
.title h3 {
    position: relative;
    left: 15%;
    font-size: 70px;
    font-weight: 600;    
}
.exp-container .line {
    position: relative;
    width: 100%;
    height: 2px;
    left: 10px;
    background: #51B872;
}
.exp-container .info-container {
    width: 75%;
    padding: 20px;
}
.info-container i, span{
    display: flex;
}
.info-container i{
    margin-top: 60px;
    margin-left: 5%;
    font-size: 250px;
}
.info-container span {
    float: right;
    margin-top: -20%;
    margin-right: 5%;
    font-size: 90px;
}
.info-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-weight: 500;
}